body {
    background-color: rgb(255, 255, 255);
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
  
header {
    background-color: rgb(255, 235, 203);
    text-align: center;
    color: rgb(94, 94, 94);
    font-size: 16px;
    font-weight: bold;
    padding: 17px 0 17px 0;
}

ul {
    text-align: center;
    margin: 50px;
}

li {
  margin: 20px;
}

li:first-child {
  margin-bottom: 100px;
}

footer {
  margin-top: auto;
  background-color: darkgrey;
}

footer p {
    text-align: center;
    margin: 10px;
}